{# needed for OAuth Sign in #}
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<div class="row justify-content-center">
    <div class="col-sm-11 col-md-8 col-lg-6 center">
        <!-- Google Button -->
        <div class="row">
            <div class="col no-padding">
                <div class="form-group">
                  <div class="col-sm-12 controls">
                      <button class="btn btn-primary btn-block" id="btn-login-google"
                              onclick="window.location.href={{path('hwi_oauth_service_redirect', {'service': 'google' })}}"
                              data-toggle="modal" data-target="#termsModal">
                          <div class="btn-login-google-content">
                            <img class="google-logo" alt="Google Login" src="{{ asset('images/social/btn_google_custom.png')}}"/>
                            <span class="log-in-text google-text">Sign in with Google</span>
                          </div>
                      </button>
                  </div>
                </div>
            </div>
        </div>
        <!-- Facebook Button -->
        <div class="row">
            <div class="col no-padding">
                <div class="form-group">
                    <div class="col-sm-12 controls">
                        <button class="btn btn-primary btn-block" id="btn-login-facebook"
                                onclick="window.location.href={{path('hwi_oauth_service_redirect', {'service': 'facebook' })}}"
                                data-toggle="modal" data-target="#termsModal">
                            <div class="btn-login-facebook-content">
                              <img class="fb-logo" alt="Facebook Login" src="{{ asset('images/social/f_logo_RGB-White_58.png')}}"/>
                              <span class="log-in-text facebook-text">Log in with Facebook</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Apple Button -->
        <div class="row">
            <div class="col no-padding">
                <div class="form-group">
                    <div class="col-sm-12 controls">
                        <button class="btn btn-primary btn-block" id="btn-login-apple"
                                onclick="window.location.href={{path('hwi_oauth_service_redirect', {'service': 'apple' })}}"
                                data-toggle="modal" data-target="#termsModal">
                            <div class="btn-login-apple-content">
                              <img class="apple-logo" alt="Apple Login" src="{{ asset('images/social/appleid_button1x.png')}}"/>
                              <span class="log-in-text apple-text">Sign in with Apple</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

